@media (max-width: 768px)
{
  /* """ Features """ section item */
  section.features .item
  {
    width: 80%;
    margin: auto;
    padding: 25px 30px 25px 50px;
    background-color: #F6F6F6;
    box-shadow: 5px 11px 15px 5px rgba(0,0,0,0.09);
    border-radius: 25px;
    font-family: 'Roboto';
  }
  section.features .item:not(:last-of-type)
  {
    margin-bottom: 25px;
  }
  /* """ Features """ item circle */
  section.features .item p.circle
  {
    width: 35px;
    height: 25px;
    position:absolute;
    margin: 15px -60px;
    padding-top: 10px;
    border-radius: 35px;
    background-color: #9356DC;
    font-family: 'Roboto';
    font-weight: 600;
    color: #fff;
    text-align: center;
  }
  /* """ Features """ card title */
  section.features .item p:not(.circle)
  {
    font-size: 20px;
    font-weight: 600;
  }
  /* """ Features """ card title icon */
  section.features .item p i
  {
    color: #7E7E7E;
    font-weight: 600;
    margin-right: 20px;
  }
}
