/*
 *
 * Pages header
 *
 */
@media (max-width: 768px)
{
  /* """ heading """ on home page */
  .header { text-align: center; }
  .header--img
  {
    width: 50%;
    margin: 30px 15px;
  }
  .header-menu--page
  {
    display: flex;
    width: 90%;
  }
  .header-menu-page--img
  {
    align-self: center;
    margin: 30px 15px;
    width: 50%;
  }
  header.header--back
  {
    font-size: 30px;
    margin: 0 40px 0 40px;
    align-self: center;
  }
  /* """ Localisation """ section */
  section.head
  {
    margin: 25px 0 0 0 0;
    padding: 20px 0 20px 0;
    background-color: #EAEAEA;
    text-align: center;
    font-family: 'Roboto';
    color: #555;
    font-weight: 700;
  }
  section.head i
  {
    margin-right: 25px;
  }
  /* """ Heading """ explore btn */
  section p:last-of-type
  {
    margin: 0;
    padding: 40px 90px 40px 90px;
    background-color: #F6F6F6;
    text-align: center;
  }
  /* """ Heading """ explore presentation title text */
  section.explore h2
  {
    font-family: 'Roboto';
    font-weight: 00;
    margin: 0;
  }
  /* """ Heading explore subtitle */
  section.explore p
  {
    color: #555;
    margin: 15px;
    font-family: 'Roboto';
  }
  /* """ Explore button */
  section p.explore-btn-container
  {
    margin-bottom: 40px;
  }
  section p a.explore-btn
  {
    display: block;
    padding: 20px 0 20px 0;
    background: linear-gradient(0deg, rgba(147,86,220,1) 24%,
                                      rgba(255,121,218,1) 100%);
    border-radius: 40px;
    font-family:"Roboto";
    font-weight: 700;
    color: #FFF;
  }
}
