/** """ Features """ section */
@import 'overall.scss'

/** These rules are shared by mobile, tablets & desktop */
.features .item
  margin-bottom: 20px
  padding: 25px 30px 25px 50px
  background-color: $bg_light
  box-shadow: 5px 11px 15px 5px rgba(0,0,0,0.09)
  border-radius: 25px
  font-family: $content_font

/* """ Features """ item circle */
.item__circle
  position: absolute
  width: 35px
  height: 25px
  margin: 10px -70px
  padding-top: 10px
  border-radius: 35px
  background-color: $feat_circle_bg
  font-family: $content_font
  font-weight: 600
  color: #fff
  text-align: center


/* """ Features """ card title */
.item__description
  font-size: 18px
  font-weight: 600
/* """ Features """ card title icon */
.item__icon
    color: $feat_item_icon_color
    font-weight: 600
    margin-right: 20px


/* Targets small screens */
@media(min-width: 768px) and (max-width: 992px)
  .features .item
    margin-left: 20px
    .item
      width: 85%

/* Targets tablets */
@media(min-width: 992px) and (max-width: 1200px)
  .features
     h2
       width: 100%
     .features-container
        width: 100%
        margin: auto
        display: flex
        flex-wrap: wrap
        .item
          width: 100%
          margin-bottom: 30px
          text-align: center

/* Targets large screens */
@media(min-width: 1200px) and (max-width: 1400px)
  .features
    h2
      width: 100%
    .features-container
      display: flex
      width: 100%
      margin-left: 25px
    .item
      width: 33%
      margin-right: 40px

/* Targets extra-large screens */
@media(min-width: 1400px)
  .features
    h2
      width: 100%
    .features-container
      display: flex
      width: 100%
      margin-left: 25px
    .item
      width: 25%
      &:not(:last-of-type)
        margin-right: 40px
