/* Homepage loader animation */
@keyframes hideLoaderAnimation
    50%
      opacity: 0
    100%
      opacity: 0
      position: absolute
      top: -100%

@keyframes hideLoaderIcon
    to
      opacity: 0

@keyframes displayPageAnimation
    to
      position: relative

.loader
  width: 100%
  height: 100%
  position: absolute
  display: flex
  flex-direction: center
  align-items: center
  text-align: center
  background-color: #fff
  opacity: 1
  animation: hideLoaderAnimation 4s forwards
  z-index: 99

.loader img
  width: 50px
  display: block
  margin: auto
  animation: hideLoaderAnimation 5s forwards

header, main, footer
  position: absolute
  top: -1000%
  animation: displayPageAnimation 5s forwards
