/*
 *
 * Overall restaurant menu container
 *
 */
@import 'overall.scss'

@keyframes grow
  from
    width: 0%
  to
    width: 15%

@keyframes selected
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

@keyframes selectedend
  from
    transform: rotate(360deg)
  to
    transform: rotate(0deg)

@keyframes slideup
  from
    opacity: 0
    transform: translatey(-30px)
  to
    opacity: 1
    transform: translatey(0px)

section.menu
  width: 100%

  .overall-restaurant-pres-margin
    margin-left: 25px

  .menu-card__img
    width: 100%
    height: 300px
    object-fit: cover

  .menu-container
    width: 100%
    position: relative
    margin-top: -30px
    padding-bottom: 60px
    background-color: #F1F1F1
    border-top-left-radius: 25px
    border-top-right-radius: 25px
    box-shadow: 5px -5px 15px -5px rgba(0,0,0,0.2)

    .menu-card
      &__title-container
        display: flex
        padding-top: 20px

      &__title
        padding-left: 20px
        font-family: $project_font
        font-size: 30px
        flex: 1
      &__heart-icon
        margin-right: 40px
        align-self: center
        font-size: 30px

  .category
    font-family: $content_font
    text-transform: uppercase
  .category__line
    width: 40px
    height: 3px
    margin: 10px 0 -10px
    background-color: #92E2D0

  .card--restaurant-pdg
    padding: 15px
  .card--restaurant-mrg-btm
    margin-bottom: 40px
  .restaurants-cards-margin
    margin-bottom: 5px

  .menu-item
    margin: 30px 20px 30px 20px
    padding: 5px
    font-family: $content-font
    animation: slideup 0.25s forwards
    opacity: 0
    &:nth-of-type(1)
      animation-delay: 0.25s
    &:nth-of-type(2)
      animation-delay: 0.5s
    &:nth-of-type(3)
      animation-delay: 0.75s
    &:nth-of-type(4)
      animation-delay: 1s

    &__title
      display: flex
      flex-direction: column
      width: calc(80%)
      padding: 10px
      white-space: nowrap
    &__subtitle
      width: calc(80%)
      margin-top: 10px
      white-space: nowrap
    &__price
      width: 20%
      display: flex
      flex-direction: column
      justify-content: flex-end
      text-align: right
      padding-right: 10px
      padding-bottom: 10px
    &__icon
      width: 0%
      display: none
      flex-direction: column
      justify-content: center
      background-color: #99E2D0
      text-align: center
      margin: -5px
      border-radius: 0 20px 20px 0
      i
        color: #fff
        font-size: 25px

    &:hover .menu-item__title
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
    &:hover .menu-item__subtitle
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
    &:hover .menu-item__price
      padding-right: 20px
    &:hover .menu-item__icon
      display: flex
      animation: grow 0.3s forwards
    &:hover .menu-item__icon i
      animation: selected 0.5s forwards, selectedend 0.5s forwards

.action-button-container
    margin-top: 50px

@media (min-width: 1200px)
  .container-d-flex
    display: flex
    .menu-category
      width: 33%
      padding-top: 20px
