/* Overall restaurant menu container */
@import 'overall.scss'

/* Make the " check icon " area to appear */
@keyframes grow
  from
    width: 0%
  to
    width: 30%

/* Make the " check icon " area to disapper */
@keyframes growReverse
  to
    width: 30%
  to
    width: 0%

/* Make the check icon rotate */
@keyframes selected
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)
@keyframes selecteEnd
  from
    transform: rotate(360deg)
  to
    transform: rotate(0deg)

/* Make the menu items to appear in a slide & fade in effect */
@keyframes slideUp
  from
    transform: translatey(20px)
    opacity: 0%
  to
    transform: translatey(0px)
    opacity: 100%

/* Menu overall header */
.menu
  width: 100%

  .overall-restaurant-pres-margin
    margin-left: 25px

  /* Menu heading container */
  &__menu-container
    width: 100%
    position: relative
    margin-top: -30px
    padding-bottom: 60px
    background-color: #F1F1F1
    border-top-left-radius: 25px
    border-top-right-radius: 25px
    box-shadow: 5px -5px 15px -5px rgba(0,0,0,0.2)

  /* Menu presentation heading image */
  &__menu-card-img
    width: 100%
    height: 300px
    object-fit: cover

  /* Menu card container */
  .menu-card
    &__title-container
      display: flex
      padding-top: 20px
    &__title
      padding-left: 20px
      font-family: $project_font
      font-size: 30px
      flex: 1
    &__heart-icon
      margin-right: 40px
      align-self: center
      font-size: 30px

  /* Menu categories like " entrées ", " plats ", " desserts " */
  .category
    font-family: $content_font
    text-transform: uppercase
    &__line
      width: 40px
      height: 3px
      margin: 10px 0 -10px
      background-color: #92E2D0

  /* A menu item that displays something to eat */
  .menu-item
    margin: 30px 20px 30px 20px
    padding: 5px
    font-family: $content-font
    animation: slideUp 1s forwards
    opacity: 0
    &:nth-of-type(1)
      animation-delay: calc(1s / 4)
    &:nth-of-type(2)
      animation-delay: calc(2s / 4)
    &:nth-of-type(3)
      animation-delay: calc(3s / 4)
    &:nth-of-type(4)
      animation-delay: calc(4s / 4)

    &__title
      display: flex
      flex-direction: column
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      width: 80%
      padding: 10px
      .text-medium
        overflow: hidden
        flex-direction: column
        white-space: nowrap
        text-overflow: ellipsis
    &__subtitle
      width: 100%
      margin-top: 10px
      white-space: nowrap
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      font-size: 13.5px
    &__price
      width: 20%
      display: flex
      flex-direction: column
      justify-content: flex-end
      text-align: right
      margin-right: 25px
      padding-bottom: 12px
      font-family: $content_font

    /* Check icon displayed on hover */
    &__icon
      animation: growReverse 0.5s forwards
      transition: all .2s ease-in-out
      display: flex
      flex-direction: column
      justify-content: center
      text-align: center
      background-color: #99E2D0
      padding-top: 5px
      text-align: center
      margin: -5px
      border-radius: 0 20px 20px 0
      cursor: pointer
      i
        visibility: hidden
        transition: all .2s ease-in-out
        color: #fff
        font-size: 25px

    &:hover .menu-item__title
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
    &:hover .menu-item__subtitle
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
    &:hover .menu-item__price
      padding-right: 20px
    &:hover .menu-item__icon
      display: flex
      animation: grow 0.5s forwards
    &:hover .menu-item__icon i
      visibility: visible
      animation: selected 1s forwards, selectedEnd 1s forwards

.action-button-container
    margin-top: 50px


/* Target extra small screens */
@media (min-width: 0px) and (max-width: 576px)
  /* Make the " check icon " area to appear */
  @keyframes grow
    from
      width: 0%
    to
      width: 30%
  /* Make the " check icon " area to disapper */
  @keyframes growReverse
    from
      width: 30%
    to
      width: 0%
  .menu
    .menu-card
      &__title
        font-size: 25px
    &__title
      display: flex
      flex-direction: column
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      width: 90%
      padding: -10px

@media (min-width: 1200px)
  .container-d-flex
    display: flex
    .menu-category
      width: 33%
      padding-top: 20px
